/*css*/
body {
    font-family: Arial, sans-serif;
    background-color: #b05e5e;
    text-align: center;
    margin: 0;
    padding: 0;

}

h1 {
    color: #141313;
    margin-top: 20px;
}

img {
    margin: 20px;
    max-width: 100px;
    width: 50%;
    border: 2px solid #333;
    border-radius: 8px;

}

nav ul {
    list-style: none;
    /* quita viñetas */
    margin: 0;
    padding: 100;
    display: flex;
    /* alinear en fila */
    justify-content: center;
    /* centrar los enlaces */
    gap: 20px;
    /* espacio entre ellos */
    display: flex;
    color: beige;
}

il {
    color: beige;
}